<ion-menu contentId="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"> 

    <ion-card class="fundo">
      <ion-card-header>
        <ion-card-title>Luiz Augusto Silverio Zeferino</ion-card-title>
        <ion-card-subtitle>Seja bem-vindo de volta!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="fundo">
      <img alt="Silhouette of mountains" src="/assets/gerador.webp" />
      <ion-card-header>
        <ion-card-title>Produção de energia</ion-card-title>
        <ion-card-subtitle>Atualiazações diarias</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Aqui você fica atualizado entre todas as novas Atualiazações dos geradores de energia
      </ion-card-content>
    </ion-card>

    <div class="button-container">
      <input type="button" value="Solar" class="energy-button">
      <input type="button" value="Eólica" class="energy-button">
  </div>

   </ion-content>
</div>